.search {
  .search {
    width: 100%;
    max-width: 400px;

    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;

    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
}

.serchHunt {
  margin-top: 10px;
  padding-top: 10px;
  width: 98%;
  border-radius: 5px;
  font-size: 14px;
  padding: 8px 1px;
  background-color: black;
}
