.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  background: white;
  border: 1px solid #ddd;

  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
label {
  font-size: 16px;
  font-weight: 500;
  color: black;
}
.input {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.error {
  font-size: 14px;
  color: #dc3545;
  margin: 0;
}

.btn {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;

  background-color: green;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: black;

  transform: scale(1.05);
}

.btn:active {
  background-color: black;

  transform: scale(1);
}
.item {
  border: 2px solid green;
  transition: border-color 0.3s, color 0.3s;
  border-radius: 5px;
}
